<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>TGNSF</title>
    <link rel="canonical" href="http://www.nyeb5fund.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" >
    <meta name="description" content="">

    <!--FACEBOOK-->
    <meta property="og:title" content="NY EB5 Fund" >
    <meta property="og:site_name" content="NY EB5 Fund">
    <meta property="og:url" content="" >
    <meta property="og:description" content="" >
    <meta property="og:image" content="/images/share-image.png" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="" >
    <meta property="twitter:description" content="" >
    <meta property="twitter:url" content="" >
    <meta property="twitter:image" content="/images/share-image.png" >

		<!-- add bootstrap stylesheets -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  	
  	<!-- add google fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif:400,400i,700" rel="stylesheet">
  
		<!-- add custom stylesheets -->
		<link rel="stylesheet" href="stylesheets/style.css">
		<% if (mobile == "true") { %>
	  <link rel="stylesheet" href="stylesheets/m_style.css">
	  <% } %>
	
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
			// TODO replace with new analytics code
			/*
		  ga('create', 'UA-86336203-1', 'auto');
		  ga('send', 'pageview');
		
		  ga('create', 'UA-67426824-4', 'auto', 'hvTracker');
		  ga('hvTracker.send', 'pageview');
		  */
		</script>
	</head>

	<body>
		<!-- load jquery minified js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- load bootstrap minified js -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- custom javascript -->
		<script src="/js/index.js"></script>
		
		<!-- navigation -->
		<div class="navigation">
		</div>
				
		<!-- title stack
		<div class="titles">
			<div class="title" data-position="0" data-color="blue">
				<div class="title-container"></div>
			</div>
			<div class="title" data-position="1" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">About</div>
				</div>
			</div>
			<div class="title" data-position="2" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">Gradient</div>
					<div>ADULT SWIM | 3D Animation Series</div>
				</div>
			</div>
			<div class="title" data-position="3" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">SUPA</div>
					<div>YUNG CLUB X SELF RIDGES<br>Immersive Yoga Experience </div>
				</div>
			</div>
			<div class="title" data-position="4" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">Seattle Design Festival</div>
					<div>ADULT SWIM X Keith Crofford<br>WEB GL + Mobile App</div>
				</div>
			</div>
			<div class="title" data-position="5" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">TGNSF</div>
					<div>ADULT SWIM | 3D Interactive</div>
				</div>
			</div>
			<div class="title" data-position="6" data-color="white" data-bg-color="black">
				<div class="title-container">
					<div class="montserrat h2">Bitelabs</div>
					<div>RED BULL MUSIC ACADEMY X<br>Andrew Thomas Huang<br>VR / 3D Consultation</div>
				</div>
			</div>
			<div class="title" data-position="7">
				<div class="title-container"></div>
			</div>
		</div>
		-->
		
		<!-- slide stack -->
		<div class="slides">
			
			<!-- Slide 1 -->
			<div class="slide vertical" id="one" data-position="0" data-bg-color="white" data-color="blue">
				<div class="slide-container slide-border">
					<div class="slide-center montserrat" style="font-size:6.0em;font-weight:700;text-align:left;width:80vw;height:auto;">
						Hello Velocity <span class="stroke">is a digital studio for the creative and the innovative.</span>
					</div>
				</div>
			</div>
			
			<!-- Slide 2 -->
			<div class="slide vertical" id="two" data-position="1" data-bg-color="" data-color="#333">
				<div class="slide-container">
						
					<!-- About title -->
					<div class="montserrat stroke" style="font-size:8.0em;">About.</div>
					
					<!-- Services -->
					<div style="display:inline-block;">
						<div class="h2" style="font-weight:700;">Services</div>	
						<div class="" style="display:inline-block;margin-right:30px;">
							<div class="">Web Design</div>
							<div class="">Web Development</div>
							<div class="">Branding</div>
							<div class="">E-Commerce</div>
							<div class="">UI / UX</div>
						</div>
						<div class="" style="display:inline-block;margin-right:30px;">
							<div class="">Data Analytics</div>
							<div class="">Creative Direction</div>
							<div class="">Content Creation</div>
							<div class="">SEO</div>
							<div class="">Digital Marketing</div>
						</div>
					</div>
					
					<div style="display:inline-block;width:30px;"></div>
				
					<!-- Clients -->
					<div style="display:inline-block;">
						<div class="h2" style="font-weight:700;">Selected Clients</div>	
						<div class="" style="display:inline-block;margin-right:30px;">
							<div class="">NewInc</div>
							<div class="">SUPA</div>
							<div class="">Siren</div>
							<div class="">Rouge Tomate</div>
							<div class="">Greycork</div>
						</div>
						<div class="" style="display:inline-block;margin-right:30px;">
							<div class="">Precision Health</div>
							<div class="">E.A.T (Experiments in Art and Technology)</div>
							<div class="">Liang Kang</div>
							<div class="">TGNSF</div>
							<div class="">Seattle Design Festival</div>
						</div>
					</div>
					
					<!-- Contact -->
					<br>
					<br>
					<div class="">
						Contact us
					</div>
					
				</div>
			</div>
			
			<!-- Slide 3 -->
			<div class="slide diagonal-left" id="three" data-position="2" data-bg-color="white" data-color="white">
				<div class="slide-container slide-border">
					<div class="box slide-center"></div>
				</div>
			</div>
			
			<!-- Slide 4 -->
			<div class="slide diagonal-right" id="four" data-position="3" data-bg-color="white">
				<div class="slide-container slide-border">
					<div class="box slide-center"></div>
				</div>
			</div>
			
			<!-- Slide 5 -->
			<div class="slide diagonal-left" id="five" data-position="4" data-bg-color="white" data-color="orange">
				<div class="slide-container slide-border">
					<div class="box slide-center"></div>
				</div>
			</div>
			
			<!-- Slide 6 -->
			<div class="slide diagonal-right" id="six" data-position="5" data-bg-color="white">
				<div class="slide-container slide-border">
					<div class="box slide-center"></div>
				</div>
			</div>
			
			<!-- Slide 7 -->
			<div class="slide diagonal-left" id="seven" data-position="6" data-bg-color="white">
				<div class="slide-container slide-border">
					<div class="box slide-center"></div>
				</div>
			</div>
			
			<!-- Slide 8 -->
			<div class="slide vertical" id="eight" data-position="7" data-bg-color="" data-color="blue">
				<div class="slide-container">
					<div class="box slide-center"></div>
				</div>
			</div>
			
		</div>
		
	</body>
	
</html>

